spring-boot-camel/src/main/resources/archetype-resources/src/main/resources/api-definitions/contract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.demo.com/businessService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="businessService"
	targetNamespace="http://www.demo.com/businessService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.demo.com/businessService">
			<xsd:element name="person">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="age" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryPerson">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryPersonMsg">
		<wsdl:part element="ns:queryPerson" name="parameters" />
	</wsdl:message>
	<wsdl:message name="personMsg">
		<wsdl:part element="ns:person" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="personPortType">
		<wsdl:operation name="getPersonOp">
			<wsdl:input message="ns:queryPersonMsg" />
			<wsdl:output message="ns:personMsg" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="personSoapHttpBinding"
		type="ns:personPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPersonOp">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="personSoapHttpService">
		<wsdl:port name="personSoapHttpPort" binding="ns:personSoapHttpBinding">
		      <soap:address location="http://0.0.0.0:7123"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
